.blend-mode-bug-fix {
	position: fixed;
	height:100%;
	width:100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.container {
	background-image: url('/src/images/background.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	background-color: $tomato-color;
	background-blend-mode: multiply;
	background-size: cover;
	overflow-x: hidden;
	height: 100vh;

	@include breakpoint(tablet) {
		background-attachment: scroll;
	}
}

.main-container {
	position: relative;
}
