.project {
	&__container {
		margin-top: calc(-100vh - -4.375rem); // 70px
		height: calc(100vh - 7.625rem); // 122px
		overflow: auto;
		grid-template-columns: 1fr;
		opacity: 0;
		transition: opacity $base-transition-time, margin $base-transition-time, border $base-transition-time;

		@include breakpoint(tablet) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			width: calc(100vw - 31.25rem); // 500px
			margin-top: rem-calc(-108);
			margin-left: -100vw;
			padding-top: rem-calc(150);
			padding-bottom: rem-calc(150);
			height: calc(100vh - 18.75rem); // 300px
		}

		&--open {
			margin-top: rem-calc(73);
			opacity: 1;
			border-top: rem-calc(2) solid $tomato-color;
			background-color: $white-color;

			@include breakpoint(tablet) {
				margin-top: rem-calc(-108);
				margin-left: rem-calc(320);
				border-top: none;
				border-left: rem-calc(2) solid $tomato-color;
			}
		}
	}

	&__item {
		padding: rem-calc(10 20);
	}

	&__image {
		max-width: 100%;
		height: auto;
		filter: grayscale(100%);
		opacity: 0.8;
	}

	&__title {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		width: 100%;
		color: $white-color;
		font-weight: 500;
	}

	&__link {
		&:hover {
			.project__image {
				filter: none;
				opacity: 1;
			}

			.project__title {
				text-decoration: underline;
			}
		}
	}
}
