/**
 * Rem base
 */
$rem-base: 16;

/**
 * Colors
 */

$dark-grey-color: #2f3032;
$light-grey-color: #eeeeee;
$white-color: #ffffff;
$tomato-color: #e64a32;
$sienna-color: #bf341e;

/**
 * Breakpoints
 */
$breakpoint-mobile: 0;
$breakpoint-tablet: 640;
$breakpoint-desktop: 1200;
$breakpoint-larger: 1440;

/**
 * Transitions
 */
$base-transition-time: 0.5s;
