.page-about {
	overflow-x: hidden;
	height: 100vh;

	@include breakpoint(tablet) {
		background: linear-gradient(to right, rgba($white-color, 1) 45%, rgba($white-color, 0) 60%), url('/src/images/background-about.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}

	.about-section {
		position: absolute;
		margin-top: rem-calc(35);
		width: 100%;

		@include breakpoint(tablet) {
			margin-top: rem-calc(105);
		}

		.heading {
			&--second {
				position: relative;
				font-size: rem-calc(16);
				font-weight: 400;
				text-align: center;
				text-transform: uppercase;
				color: $tomato-color;

				&::before,
				&::After {
					content: '';
					position: absolute;
					display: block;
					height: rem-calc(2);
					width: calc(50% - 3.75rem); // 60px
					background-color: $tomato-color;
					top: rem-calc(15);
				}

				&::before {
					left: 0;
				}

				&::after {
					right: 0;
				}

				@include breakpoint(tablet) {
					font-size: rem-calc(20);

					&::before,
					&::after {
						width: calc(50% - 9.375rem); // 150px
						top: rem-calc(10);
					}
				}
			}
		}
	}
}
