:root {
  --main-text-color: #ECEFF4;
  --secondary-text-color: #D8DEE9;
  --tertiary-text-color: #4C566A;

  --url-text-color: #81A1C1;
  --url-hover-text-color: #88C0D0;

  --main-background-color: #2E3440;
  --tag-background-color: #8FBCBB;

  --main-border-color: #4C566A;

  --browser-width-small-minimum: 320px;
  --browser-width-small-maximum: 480px;
  --browser-width-medium-minimum: 480px;
  --browser-width-medium-maximum: 768px;
  --browser-width-large-minimum: 768px;
  --browser-width-large-maximum: 1440px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
  font-family: Inter, sans-serif;
}

h1, h2, h3 {
  font-family: 'DM Sans', sans-serif;
}
